[submodule "minimalist-ripple-client"]
	path = minimalist-ripple-client
	url = https://github.com/IvanLudvig/minimalist-ripple-client.git
[submodule "kmeans"]
	path = kmeans
	url = https://github.com/IvanLudvig/kmeans.git
[submodule "pi-needle"]
	path = pi-needle
	url = https://github.com/IvanLudvig/pi-needle.git
[submodule "minimal-btc-client"]
	path = minimal-btc-client
	url = https://github.com/IvanLudvig/minimal-btc-client
[submodule "pasteface"]
	path = pasteface
	url = https://github.com/IvanLudvig/pasteface-web
[submodule "cyrillic-clock"]
	path = cyrillic-clock
	url = https://github.com/IvanLudvig/cyrillic-clock.git
[submodule "kmeans-webgpu"]
	path = kmeans-webgpu
	url = https://github.com/IvanLudvig/kmeans-webgpu.git
[submodule "image-palette-webgpu-demo"]
	path = image-palette-webgpu
	url = https://github.com/IvanLudvig/image-palette-webgpu-demo.git
