<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src='/assets/js/getFlagEmoji.js'></script>

  {% seo %}

  {% if page.country and page.layout == 'travel-post' %}
  <script>
    const parts = document.title.split('|');
    if (parts.length > 1) {
      document.title = parts[0].trim() + ' ' + getFlagEmoji('{{page.country}}') + ' | ' + parts[1].trim();
    }
  </script>
  {% endif %}

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
  integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
  crossorigin=""/>

  {%- include custom-head.html -%}
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
  <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
  
  <script src="/assets/js/places/index.js"></script>
  <script src="/assets/js/places/ru.js"></script>
  <script src="/assets/js/places/it.js"></script>
  <script src="/assets/js/places/mt.js"></script>
  <script src="/assets/js/places/es.js"></script>
  <script src="/assets/js/places/ir.js"></script>
  <script src="/assets/js/places/tr.js"></script>
  <script src="/assets/js/places/pt.js"></script>
  <script src="/assets/js/places/al.js"></script>
  <script src="/assets/js/places/mk.js"></script>
  <script src="/assets/js/places/cy.js"></script>
  <script src="/assets/js/places/fr.js"></script>
  <script src="/assets/js/places/rs.js"></script>
</head>
