<div>
    <h3 id='{{name}}' style='margin-top: 40px; cursor: pointer;'>
        {{verbose-name}} <img class="no-modal" src='/assets/marker-black.svg' style='transform: scale(0.75) translateY(-3px)' />
    </h3>
    <div id='{{name}}-map-container' style='max-height: 0; overflow: hidden; transition: max-height .25s; border-radius: 6px;'>
        <div id='{{name}}-map' style='height: 480px; width: 100%;  margin-bottom: 16px;'></div>
    </div>

    <script>
        document.getElementById('{{name}}').onclick = () => {
            const container = document.getElementById('{{name}}-map-container');
            const height = container.style['max-height'];
            if (height === '0px') {
                container.style['max-height'] = '496px';
                renderCityMap('{{name}}');
            } else {
                container.style['max-height'] = '0px';
            }
        }
    </script>
</div>