<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/travel" | relative_url }}">Ivan Ludvig's Travel Blog</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">Tech</a>
        <a class="page-link" href="/travel" style="color: black;">Travel</a>
      </div>
    </nav>
  </div>
</header>
